* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

body {
  background-color: #EFF6EE;
}

.section {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  margin: 24px 0;
  color: #273043;
}

.header h1 span {
  color: #DD0426;
}

.nav {
  margin: 0 0 40px 0;
}

.nav-links {
  text-decoration: none;
  color: #9197AE;
  margin: 0 24px;
  text-align: center;
}

.active {
  color: #273043;
  font-weight: 600;
}

.nav-links i {
  font-size: 20px;
  margin-right: 4px;
}

.nav-links:hover {
  color: #F02D3A;
}

.section h1 {
  color: #273043;
  margin: 0 0 24px 0;
}

.home-p {
  font-size: 16px;
  color: #273043;
  margin: 0 0 24px 0;
}

.home-p a {
  text-decoration: none;
  color: #273043;
  font-weight: 600;
}

.home-p a:hover {
  color: #F02D3A;
}

.index-h3 {
  color: #273043;
  margin: 0 0 12px 0;
}

.instruments-ul {
  list-style: none;
  color: #273043;
}

.instruments-li {
  margin: 0 0 8px 0;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-thirds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 32px 0;
}

.cards {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 4px 0 32px #2730431f;
          box-shadow: 4px 0 32px #2730431f;
}

.cards:hover {
  -webkit-transform: translate(0, -8px);
          transform: translate(0, -8px);
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
  -webkit-box-shadow: 4px 0 32px #27304339;
          box-shadow: 4px 0 32px #27304339;
}

.cards img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-header {
  margin: 12px 8px 8px 8px;
  color: #273043;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 16px 8px 8px 0;
  color: #9197AE;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 64px 0;
}

.footer-link {
  text-decoration: none;
  color: #9197AE;
  font-size: 20px;
}

.footer-link:hover {
  color: #F02D3A;
}

.secondary-p {
  color: #9197AE;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */